body
{
	font-family: Helvetica, Arial;
	text-align: center;
	font-size:15px;
}

img
{
	width: 400px;
	margin-top: 50px;
}

h1
{
	text-align: center;
}

p
{
	margin-bottom: 10px;
	line-height: 140%;
	width:400px;
	margin-left:auto;
	margin-right: auto;
	text-align: left;
}

#intro
{
	color:#0026ff;
}
